[Service]
User={{USER_ID}}
WorkingDirectory=/opt/{{TTL_SERVICE_NAME_WITH_SLICE}}/
ExecStart=/opt/{{TTL_SERVICE_NAME_WITH_SLICE}}/start
EnvironmentFile=/etc/{{TTL_SERVICE_NAME_WITH_SLICE}}.env

Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{TTL_SERVICE_NAME_WITH_SLICE}}

[Install]
WantedBy=multi-user.target